
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  font-size: 1.1rem;
}
.loginForm {
  background: #fff;
  width: 40%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 15%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.registerForm {
  background: #fff;
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/* This is our style for the invalid fields */
input.invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus.invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width  : 100%;
  padding: 0; 
  font-size: 80%;
  color: #900;
}

.error.active {
  padding: 0.3em;
}

@media only screen and (max-width: 992px) {
  .registerForm, .loginForm {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .registerForm, .loginForm {
    width: 85%;
  }
}
@media only screen and (max-width: 576px) {
  .registerForm, .loginForm {
    width: 95%;
    padding: 20px 10px;
  }
}